<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <style>
      /* Necessary b/c using navbar-fixed-top */
      body {
        padding-top: 60px;
      }
    </style>
    
  </head>

  <body>
    
    <nav class = "navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class = "container">
        <a class = "navbar-brand" href = "/">Rumblr</a>
      
        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
          <ul class = "navbar-nav mr-auto">
            <li class = "nav-item">
              <a class = "nav-link" href = "/">Profile</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href = "/">Matches</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href = "/">Messages</a>
            </li>
          </ul>
        </div>
        
        <ul class = "navbar-nav ml-auto">
          <% if current_user.present? %>
            <a class = "nav-link" href = "/">
              <%= current_user.username %>
            </a>
          <% else %>
            <a class = "nav-link" href = "/">
              Sign In
            </a>
          <% end %>
          
        </ul>
        
      </div>
      
    </nav>
    
    <%= yield %>

    <%= dev_tools if Rails.env.development? %>
  </body>
</html>
